@charset "UTF-8";
/*Спецификация*/
h1 {
  font-size: 78px;
  color: #ffffff; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; }

ul, li {
  display: flex;
  margin: 0;
  /*обнулил но есть файл  reset.css*/
  padding: 0; }

/*Первая секция header*/
.header {
  background-color: #ffffff;
  min-height: 105px; }

nav__item a {
  font-size: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #635c73; }

.btn {
  background-color: #8d81ac;
  border-radius: 25px;
  border: 0px; }

/*Вторая секция ForkApp*/
.fork {
  background: url("../img/backgroundForkApp.jpg") no-repeat center;
  background-size: cover; }

.fork h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: bold;
  padding: 90px 0 10px;
  color: #ffffff; }

.fork .text-fork {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  color: #8d81ac; }

.fork .text2-fork {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 480px;
  color: #848e97;
  text-transform: uppercase; }

/* Заглавные буквы */
.fork .container button {
  position: relative;
  margin: auto;
  right: 0;
  bottom: -30px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
  background-color: #8d81ac;
  border-radius: 25px;
  padding: 25px 65px;
  outline: none; }

/*убрали линию рамки*/
.fork .container button:hover {
  background-color: #4d4963; }

/*третяя секция Editor*/
h2 {
  font-family: "Montserrat", sans-serif;
  color: #635c73;
  font-size: 38px;
  font-weight: bold; }

/*четвертая секция Here is what*/
.features {
  overflow: hidden;
  padding: 50px 0 0 0;
  background-color: #f4f4f4; }

.features .upper-features-row h3 {
  padding-bottom: 10px;
  color: #323232;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px; }

.features .upper-features-row p {
  color: #848e97;
  font-size: 14px;
  line-height: 21px; }

.features .upper-features-row .row {
  padding: 20px 0; }

.features .features-title {
  padding: 10px 20px;
  color: #8d81ac;
  font-family: "Montserrat", sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 54px; }

.features .features-overflow-image {
  position: relative; }

/*секция Footer*/
footer .container {
  padding: 40px 25px;
  border-top: 2px solid #f4f4f4; }

footer .footer-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; }
  footer .footer-logo a {
    color: #333333;
    text-decoration: none; }
  footer .footer-logo img {
    padding: 0 16px; }
  footer .footer-logo span {
    color: #8d81ac; }
  footer .footer-logo p {
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: none; }

footer .footer-navigation h3 {
  padding-bottom: 20px;
  color: #323232;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold; }

footer .footer-navigation .nav-link {
  padding: 5px 0;
  color: #8d81ac;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold; }
  footer .footer-navigation .nav-link:hover {
    color: #625a78; }

footer .phisical-adress h2 {
  color: #3f3f3f;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  /* Text style for "3, 47 567" */
  letter-spacing: 0.6px; }

footer .phisical-adress p {
  padding: 15px 0;
  color: #848e97;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px; }

footer .phisical-adress h3 {
  padding-top: 15px;
  color: #323232;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold; }

footer .footer-info h3 {
  color: #323232;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold; }

footer .footer-info p {
  padding: 20px 0;
  color: #848e97;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px; }
