.header {
  display: inline-block;
  width: 100%;
  background-image: url(image6/bg_header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
ul {
  display: inline-flex;
  width: 460px;
  /*color: #000000;*/
  float: right;
}
li {

  list-style-type: none;
  color: #000000;
  a {
    text-decoration: none;
  }
}
.logo-img {
  align-items: flex-end;
  justify-content: space-between;
}

header-nav, heder-nav-li{
  display: inline-flex;
  text-decoration: none;
  justify-content: space-between;
}
li a:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении курсора мыши на ссылку */
  color: black; /*почему не черный текст?*/
}